<h1>{{ character }}</h1>

<ul>
    <li>Name: {{ character.name }}</li>
    <li>Level: {{ character.level }}</li>
    <li>Exp: {{ character.currentExp }} / {{ character.nextLevelExp }}</li>
    <li>Health: {{ character.currentHealth }} / {{ character.maxHealth }}</li>
    <li>Mana: {{ character.currentMana }} / {{ character.maxMana }}</li>
    <li>Attack: {{ character.attack }}</li>
    <li>Defense: {{ character.defense }}</li>
    <li>Armor: {% if armor %}
                    {{ armor.name }}
                    <ul>
                        <li>Attack: {{armor.attack}}</li>
                        <li>Defense: {{armor.defense}}</li>
                    </ul>
                {% else %}
                    None
                {% endif %}</li>
    <li>Weapon: {% if weapon %}
                    {{ weapon.name }}
                    <ul>
                        <li>Attack: {{weapon.attack}}</li>
                        <li>Defense: {{weapon.defense}}</li>
                    </ul>
                {% else %}
                    None
                {% endif %}</li>
    <li>Skill: {% if skill %}
                    {{ skill.name }}
                    <ul>
                        <li>Attack: {{skill.attack}}</li>
                        <li>Defense: {{skill.defense}}</li>
                    </ul>
                {% else %}
                    None
                {% endif %}</li>
</ul>
